<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/card.css">
    <h1>All Blogs</h1>
    <div>
        <a href="/blogs/new">Add a Blog</a>
    </div>
    <ul>
        <% for (let blog of blogs) {%> 
           <div class="card mb-3">
               <div class="row">
                   <div class="">
                       <img src="<%=blog.image%>" class="card-img-top" alt="">
                   </div>
                   <div class="card-body">
                       <h5 class="card-title"><%=blog.title%></h5>
                       <p class="card-text"><%=blog.description%></p>
                       <a class="btn btn-info" href="/blogs/<%=blog._id%>">Read More</a>
                   </div>
               </div>
           </div>
            <% } %> 
    </ul>
